<header id="header">
	<div class="header-top">
		<div class="wrapper">
			<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
			<form action="#" class="search">
				<input type="search" placeholder="Breguet Transatiatique">
				<div class="search-submit">
					<input type="submit" value="Search">
				</div>
			</form>
			<div class="language">
				<a href="#" class="active">ua</a>
				<a href="#">usd</a>
				<!-- <div class="language-all">
					<a href="#">en</a>
				</div> -->
			</div>
			<a href="#" class="contact-us">Contact us</a>
		</div>
	</div>
	<div class="header-bottom">
		<div class="wrapper">
			<nav class="header-bottom-l">
				<ul>
					<li><a href="#">Watches</a></li>
					<li><a href="#">Brands</a></li>
					<li><a href="#">Magazine</a></li>
					<li><a href="#">Info &amp; Service</a></li>
					<li><a href="#">Sell Watch</a></li>
				</ul>
			</nav>
			<div class="header-bottom-r">
				<div class="MyChronoCash-container">
					<a href="#" class="MyChronoCash">MyChronoCash</a>
					<div class="MyChronoCash-item">
						<a href="#" class="list">My information</a>
						<a href="#" class="diskette">Saved searches</a>
						<a href="#" class="eye">My last views</a>
						<a href="#" class="arrow-back">Log out</a>
					</div>
				</div>
				<a href="#" class="fav">Wishes <span>22</span></a>
			</div>
		</div>
	</div>
</header>